
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title text-center">YÖNETİM PANELİNE HOŞ GELDİNİZ...</h4>
                        </div>
                    </div>
             </div>
            </div>
        </div>
    </div>
</div>

