<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Alo Stor Perde Yıkama</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="./Content/img/core-img/favicon2.ico">

    @Styles.Render("~/Content/css")

</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="./Content/img/core-img/bubble.png" alt="">
        </div>
    </div>
    <header class="top">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active" href="/Home">Ana Sayfa</a>
            <a href="/About">Hakkında</a>
            <a href="/Contact">İletişim</a>
           
        </div>
        <!-- Nav section Start -->
        <nav id="navbar">
            <!-- container Start-->
            <div class="container">
                <!--Row Start-->
                <div class="row">
                    <div class="col-lg-5 col-md-5 align-self-center left-side">
                        <p>Alo Stor Perde Yıkama <span>Tel: 0 532 123 45 67</span></p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-5 align-self-center logo">
                        @*<a href="index.html"><img src="~/Content/img/bg-img/logo.png" alt="logo"></a>*@
                    </div>
                    <div class="col-lg-5 col-md-5 col-7 align-self-center right-side">
                        <div class="social-icons square">
                            <!-- Page Content -->
                            <div id="page-content-wrapper">
                                <span class="slide-menu" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="social-icons another">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <!--Row Ended-->
            </div>
            <!-- container Ended-->
        </nav>
        <!-- Nav section Ended -->
        
    </header>


        <section class="hero-area">

            @RenderBody()

        </section>
        <!-- ##### Footer Area Start ##### -->
        <footer class="footer-area bg-img" style="background-image: url(./Content/img/bg-img/3-4.jpg);">
            <!-- Main Footer Area -->
            <div class="main-footer-area">
                <div class="container">
                    <div class="row">
                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-4 text-center">
                            <div class="single-footer-widget">
                                <div class="footer-logo mb-30">
                                    <a href="/Home"><img src="~/Content/img/bg-img/logo.png" alt="logo"></a>
                                </div>
                                <p>Bizi takip edin.</p>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-4 text-center">
                            <div class="single-footer-widget">
                                <div class="widget-title">
                                    <h5>SAYFALAR</h5>
                                </div>
                                <nav class="widget-nav">
                                    <ul>
                                        <li><a href="/Home">Ana Sayfa</a></li>
                                        <li><a href="/About">Hakkımızda</a></li>
                                        <li><a href="/Contact">İletişim</a></li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Single Footer Widget -->
                        <!-- Silindi -->
                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-footer-widget">
                                <div class="widget-title">
                                    <h5>İLETİŞİM</h5>
                                </div>
                                <div class="contact-information">
                                    <p><span>Addres:</span> Boğaziçi, İstanbul</p>
                                    <p><span>Telefon:</span> +90 532 123 45 67</p>
                                    <p><span>Email:</span> aloostorperdeyikama@gmail.com</p>
                                    <p><span>Çalışma Saatleri:</span> Mon - Sun: 8 AM to 9 PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom Area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="border-line"></div>
                        </div>
                        <!-- Copywrite Text -->
                        <div class="col-12 col-md-6">
                            <div class="copywrite-text">
                                <p>
                                    &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. | Bu site esyum tarafından <i class="fa fa-heart-o" aria-hidden="true"></i> ile tasarlanmıştır.
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <!-- Footer Nav -->
                        <div class="col-12 col-md-6">
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="/Home">Ana Sayfa</a></li>
                                        <li><a href="/About">Hakkımızda</a></li>
                                        <li><a href="#">Sipariş Oluştur</a></li>
                                        <li><a href="/Contact">İletişim</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ##### Footer Area End ##### -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
