<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Alo Stor Perde Yıkama</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="./Content/img/core-img/favicon2.ico">

    @Styles.Render("~/Content/css")

</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="./Content/img/core-img/bubble.png" alt="">
        </div>
    </div>
    <!-- ##### Header Area Start ##### -->
    @*<header class="header-area">
            <!-- ***** Top Header Area ***** -->
            <div class="top-header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="top-header-content d-flex align-items-center justify-content-between">
                                <!-- Top Header Content -->
                                <div class="top-header-meta">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="detayperdestor@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: aloostorperdeyikama@gmail.com</span></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="+90 543 721 36 15"><i class="fa fa-phone" aria-hidden="true"></i> <span>İletişim: +90 543 721 36 15</span></a>
                                </div>
                                <!-- Top Header Content -->
                                <div class="top-header-meta d-flex">
                                    <!-- Language Dropdown -->
                                    <!-- Silindi -->
                                    <!-- Login -->
                                    <div class="login">
                                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span>Login</span></a>
                                    </div>
                                    <!-- Cart -->
                                    <!-- Silindi -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alazea-main-menu">

                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="alazeaNav">
                            <!-- Nav Brand -->
                            <a href="/Home" class="nav-brand">
                                <img src="~/Content/img/bg-img/AloStorPerdeYikamaB.png" style="width: 20.5rem;" alt="Alo Stor Perde Yıkama" />

                            </a>
                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>
                            <!-- Menu -->
                            <div class="classy-menu">
                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
                                <!-- Navbar Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="/Home">Ana Sayfa</a></li>
                                        <li><a href="/About">Hakkımızda</a></li>
                                        <li><a href="shop.html">Sipariş Oluştur</a></li>
                                        <li><a href="/Contact">İletişim</a></li>
                                    </ul>
                                    <!-- Search Icon -->
                                    <!-- Silindi -->
                                </div>
                                <!-- Navbar End -->
                            </div>
                        </nav>
                        <!-- Search Form -->
                        <!-- silindi -->
                    </div>
                </div>
            </div>
        </header>*@

    <!-- Site Header : Left Logo -->
    <header class="header-area">
        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="detayperdestor@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: aloostorperdeyikama@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+90 543 721 36 15"><i class="fa fa-phone" aria-hidden="true"></i> <span>İletişim: +90 543 721 36 15</span></a>
                            </div>
                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                <!-- Language Dropdown -->
                                <!-- Silindi -->
                                <!-- Login -->
                                <div class="login">
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span>Login</span></a>
                                </div>
                                <!-- Cart -->
                                <!-- Silindi -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <!-- End Site Header : Left Logo -->
        <div class="container-fluid sticky-top bg-transparent">
            <nav class="classy-navbar justify-content-between bg-transparent" id="alazeaNav">
                <!-- Nav Brand -->
                <a href="/Home" class="nav-brand">
                    <img src="~/Content/img/bg-img/AloStorPerdeYikamaB.png" style="width: 20.5rem;" alt="Alo Stor Perde Yıkama" />

                </a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Navbar Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/Home">Ana Sayfa</a></li>
                            <li><a href="/About">Hakkımızda</a></li>
                            <li><a href="shop.html">Sipariş Oluştur</a></li>
                            <li><a href="/Contact">İletişim</a></li>
                        </ul>
                        <!-- Search Icon -->
                        <!-- Silindi -->
                    </div>
                    <!-- Navbar End -->
                </div>
            </nav>
        </div>
        @*<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">Tadilat Experi</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link active" href="#">Ana Sayfa <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#hizmetler">Hizmetler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#iletisim">İletişim</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#referanslar">Referanslar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="galery.html" target="_blank">Galeri</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

            </div>*@


        <section class="hero-area">

            @RenderBody()

        </section>
        <!-- ##### Footer Area Start ##### -->
        <footer class="footer-area bg-img" style="background-image: url(./Content/img/bg-img/3-4.jpg);">
            <!-- Main Footer Area -->
            <div class="main-footer-area">
                <div class="container">
                    <div class="row">
                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-4 text-center">
                            <div class="single-footer-widget">
                                <div class="footer-logo mb-30">
                                    <a href="#"><img src="./Content/img/core-img/logo2.png" alt=""></a>
                                </div>
                                <p>Bizi takip edin.</p>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-4 text-center">
                            <div class="single-footer-widget">
                                <div class="widget-title">
                                    <h5>SAYFALAR</h5>
                                </div>
                                <nav class="widget-nav">
                                    <ul>
                                        <li><a href="#">Ana Sayfa</a></li>
                                        <li><a href="#">Hakkımızda</a></li>
                                        <li><a href="#">Sipariş Oluştur</a></li>
                                        <li><a href="#">İletişim</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Single Footer Widget -->
                        <!-- Silindi -->
                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-footer-widget">
                                <div class="widget-title">
                                    <h5>İLETİŞİM</h5>
                                </div>
                                <div class="contact-information">
                                    <p><span>Addres:</span> Boğaziçi, İstanbul</p>
                                    <p><span>Telefon:</span> +90 532 123 45 67</p>
                                    <p><span>Email:</span> aloostorperdeyikama@gmail.com</p>
                                    <p><span>Çalışma Saatleri:</span> Mon - Sun: 8 AM to 9 PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom Area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="border-line"></div>
                        </div>
                        <!-- Copywrite Text -->
                        <div class="col-12 col-md-6">
                            <div class="copywrite-text">
                                <p>
                                    &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. | Bu site esyum tarafından <i class="fa fa-heart-o" aria-hidden="true"></i> ile tasarlanmıştır.
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <!-- Footer Nav -->
                        <div class="col-12 col-md-6">
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="/Home">Ana Sayfa</a></li>
                                        <li><a href="/About">Hakkımızda</a></li>
                                        <li><a href="#">Sipariş Oluştur</a></li>
                                        <li><a href="/Contact">İletişim</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ##### Footer Area End ##### -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
