@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../Content/img/bg-img/about.jpeg); ">
        <h2>Hakkımızda</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home"><i class="fa fa-home"></i> Ana Sayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hakkımızda</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### About Area Start ##### -->
<section class="about-us-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>Hakkımızda</h2>
                    <p>Firmamız 2017 yılından bu yana aktif faliyet göstermektedir.</p>
                </div>
                <p>Firmamız sizden gelen çağrılar üzerine yönlendirdiğimiz uzman kişilerce yıkanacak perdeleri yerinde söküp paketleyip tesisimizde işini seven ekip tarafından titizlikle yıkanıp işlemden geçmektedir.</p>
                <p>Yıkanan perdelerimiz temiz kurutma odalarında kuruyana dek bekletilmektedir. Kurumakta olan perdelerin mekazinma kısımları kumaşlardan ayrı yıkanmaktadır ve varsa kırık parça veya değismesi gereken parça yenisi ile degiştirilip yenileme işlemi yıkama işlemi ile birlikte devam etmektedir.</p>
                <p>Degişen parçalar ve yıkanan perdeler ekip tarafindan toplanarak ve kontrol edilerek paketleme işlemine geçilmektedir ve müşterimizi mağdur etmden teslim etmekteyiz. </p>
                <p>Yıkadığımız perdeler en fazla 3 iş günü içerisinde tarafınıza sorunsuz teslim edilmektedir.</p>
                <p>Ayrıca bünyemizde bulunan terzi olanagı ile tül perde tadilati ve fon perde tadilatı yapmaktayiz.</p>
                <p>Ayrıca korniş montajı da tarafımızda yapılmaktadır.</p>
                <p>Yeni tül istenilen durumlarda ise perakende satış mağazalarımız aktif hizmet vermektedir.</p>

            </div>

            <div class="col-12 col-lg-4">
                <img src="../../Content/img/bg-img/about_work1.jpeg" style="height:80%" class="card-img" alt="...">
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->
<!-- ##### Service Area Start ##### -->
<section class="our-services-area bg-gray section-padding-100-0">
    <div class="container">


        <div class="row align-items-center justify-content-between">

            <div class="col-6">
                <h2>YIKAMA HİZMETİMİZ</h2>
                <p>Teslim aldığımız perdelerinizi itinayla temizlemekteyiz.</p>
                <p>Yıkadığımız perdeler en fazla 3 iş günü içerisinde tarafınıza sorunsuz teslim edilmektedir.</p>
                <br />
                <br />
                <br />
                @*<div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="~/Content/video/yikama.mp4" allowfullscreen></iframe>
                    </div>*@
                @*<div class="alazea-video-area bg-overlay mb-100">
                        <video controls="controls">
                            <source src="~/Content/video/yikama.mp4" type="video/mp4" />
                        </video>
                    </div>*@
            </div>
            <div class="col-5">
                <div class="alazea-video-area bg-overlay mb-100">
                    <img src="~/Content/img/bg-img/perde_kurutma.jpeg" alt="perde kurutma" style="width:400px;height:400px;" />
                    <a href="~/Content/video/yikama.mp4" class="video-icon">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Service Area End ##### -->